#### In this Video We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
spark

In [8]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv(r"E:\NIT Python (ALL Task)\PYSPARK & DATABRICKS\sample1.csv",inferSchema=True)

In [10]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
df_pyspark=spark.read.csv(r'E:\NIT Python (ALL Task)\PYSPARK & DATABRICKS\sample1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [14]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head(3)

[Row(Name='jack', age=31, Experience=10, Salary=30000),
 Row(Name='alex', age=30, Experience=8, Salary=25000),
 Row(Name='caroline', age=29, Experience=4, Salary=20000)]

In [20]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [22]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|    jack|        10|
|    alex|         8|
|caroline|         4|
|    paul|         3|
|  sandra|         1|
|casandra|         2|
+--------+----------+

In [24]:
df_pyspark['Name']

Column<'Name'>

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [28]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|  alex|                21|                1|             15000|
|    max|sandra|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [30]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [32]:
df_pyspark.show()

+--------+---+----------+------+-----------------------+
|    Name|age|Experience|Salary|Experience After 2 year|
+--------+---+----------+------+-----------------------+
|    jack| 31|        10| 30000|                     12|
|    alex| 30|         8| 25000|                     10|
|caroline| 29|         4| 20000|                      6|
|    paul| 24|         3| 20000|                      5|
|  sandra| 21|         1| 15000|                      3|
|casandra| 23|         2| 18000|                      4|
+--------+---+----------+------+-----------------------+

In [34]:
## Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [36]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [38]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+